:root {
  --background-color: #fff;
  --default-color: #121416;
  --link-color: #543fd7;
  --secondary-color: #85878a;
  --danger-color: #fc6847;
  --lightgray-color: rgba(84, 16, 17, 0.06);
}

html,
body,
main,
section {
  border: 0;
  padding: 0;
  margin: 0;
}

body,
div,
span,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
div,
a,
p {
  font-size: smaller;
}

a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
}
