:root {
    --background-color: #fff;
    --default-color: #121416;
    --link-color: #543fd7;
    --secondary-color: #85878a;
    --danger-color: #fc6847;
    --lightgray-color: rgba(84, 16, 17, 0.06);
  }